{{> header}}

		<div class="container">
			<div class="jumbotron text-center">
				<h1>Critter</h1>
				<p class="lead">a micro blog about animals</p>
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
				Create new Post
				</button>
			</div>
		</div>
		<div class="container" id="posts-list"></div>
		<script id="blogs-template" type="text/x-handlebars-template">
			\{{#each posts}}
				<div class="col-md-4 post" data-post-id="\{{_id}}"><div class="well">
					<h2>\{{post}}</h2>
					<button type="button" class="btn btn-default btn-xs delete pull-right" data-placement="bottom" title="Delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>

					<button type="button" class="btn btn-default btn-xs edit pull-right" data-toggle="modal" data-target="#myModal" data-placement="bottom" title="Edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</button>
					
					<div>\{{description}}</div>

					<div><img src="\{{image}}" class="post-image"></div>
					<!-- comments button -->
					<a class="toggle-comments" data-toggle="collapse" data-target=".comments-\{{_id}}" aria-expanded="false" aria-controls="collapseExample">
						<span class="toggle-text">Show</span> comments (\{{comments.length}})
					</a>

					<div class="collapse comments-\{{_id}}">
						\{{#each comments}}
							<p>\{{text}}
							<button type="button" class="btn btn-default btn-xs delete-comment pull-right" data-comment-id="\{{_id}}" data-placement="bottom" title="Delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
							</p>
						\{{/each}}
						<div class="row">
							<div class="col-xs-9">
								<form class="new-comment-form">
									<div class="input-group">
										<input type="text" class="form-control input-sm" name="text" placeholder="Comment goes here">
										<span class="input-group-btn">
											<button class="btn btn-default btn-sm add-comment-button" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
										</span>
									</div>
								</form>	
							</div>
						</div>		 
					</div>

					
				</div></div>
			\{{/each}}
		</script>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">
							Title:
							<input type="text" id="new-post-title" class="form-control" placeholder="Text input">
						</h4>
					</div>
					<div class="modal-body">
						<input type="hidden" id="new-post-id">
						Post goes here:
						<textarea class="form-control" id="new-post-text" rows="3" placeholder="New post goes here"></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary save-text-button">Save changes</button>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- jquery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- bootstrap js -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- handlebars -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
		<!-- custom script -->
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>